.easy {
    display: flex;
    justify-content: center;

    &-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    &-title {
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 24px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        flex-wrap: wrap;
    }
    &__item {
        box-sizing: border-box;
        width: 350px;
        height: 142px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }
}
